  $('#response').html("<ul></ul>")
<% @responses.each do |response| %>
  $('#response ul').append('<a href="#" class="list-group-item"><%= response %></a>')
<% end %>


document.getElementById('searchForm').reset()
