.error {
  color: #E4003D;
  font-style: italic;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  align-items: center;
  display: flex;
}

div.wave {
  align-items: center;
  border: 4px solid #262626;
  display: flex;
  height: 110px;
  margin: 0 auto;
  width: 110px;
}

svg {
  margin: 0 auto;
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 2400ms linear infinite;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}


 //Import bootstrap-sprockets
 @import "bootstrap-sprockets";

 // Import journal variables
 @import "bootswatch/journal/variables";

 // Then bootstrap itself
 @import "bootstrap";

 // Bootstrap body padding for fixed navbar
 body { padding-top: 60px; }

 // And finally bootswatch style itself
 @import "bootswatch/journal/bootswatch";

 // Whatever application styles you have go last
